.collection-all-page h1{text-align: center;margin: 50px 0;}
.collection-all-page h4{
	font-family: 'BertholdBlock';
	margin: 20px 0 5px;
	text-align: center;
	font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(23px + (30 - 23) * ((100vw - 320px) / (1920 - 320)));
	
}
.pro-block {
    overflow: hidden;
    border-radius: 50px;
	height: 382px;

}
.load-pre {
    margin-bottom: 20px;
}
.collection-all-page{text-align: center;}
main{background: linear-gradient(180deg, #D02523 0%, #9B2220 67.26%);}
.bottom-spacing{margin-bottom: 20px;}
.collection-all-page  .products-grid{    grid-gap: 3rem;}
.collection-all-page .product-item:hover{text-decoration: none;}
.collection-all-page .product-item img{border-radius: 50px;transform: scale(1);-webkit-transition:.3s ease-in-out;
	transition: .3s ease-in-out;height: 100%;object-fit: cover;}
.collection-all-page small span{font-size: calc(22px + (25 - 22) * ((100vw - 320px) / (1920 - 320))) !important;line-height: calc(22px + (25 - 22) * ((100vw - 320px) / (1920 - 320))) !important;
	font-family: 'BertholdBlock';color: #fff;text-align: center
	;}
	.collection-all-page .product-item {
		overflow: hidden;

	}
	.collection-all-page .product-item .pro-block:hover img{
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		-webkit-transition:.3s ease-in-out;
		transition: .3s ease-in-out;
	}
	.collection-all-page .product-item span{
		font-size:calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320))) !important;
		color: #fff;
		display: block;
		text-align: center;
	}
	.collection-all-page .product-item small span{
		font-size:calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320))) !important;
		color: #fff;
		display: block;
		text-align: center;


	}
	.collection-all-page .collection-title{
		padding-bottom: 20px;
		margin-bottom: 20px;
		position: relative;
	}
	.collection-all-page .collection-title::before{
		content: "";
		position: absolute;
		border-bottom: 1px solid #fff;
		bottom: 0;
		left: 0;
		right: 0;
		max-width: 320px;
		margin: 0 auto;
	}
	.collection-all-page .load-more {
		text-align: center;
		margin-bottom: 70px;
	}
	@media (max-width:1440px) {
		.pro-block{height: 400px;}
	}
	@media (max-width:1199px) {
		.pro-block{height: auto;}
	}

	@media (max-width:992px) {
		.pro-block{height: 376px;}
	}
	@media (max-width:767px) {
		.collection-all-page h1{margin: 30px 0;}
		.collection-all-page .products-grid {
			grid-gap: 2.5rem;
			display: flex;
			flex-wrap: wrap;

		}
		.collection-all-page .product-item img,.pro-block{border-radius: 10px;}
		.collection-all-page .products-grid a{
			width: calc(100%/2 - 20px);
		}
		/* .collection-all-page small span{font-size: 20px !important;line-height: 20px !important;} */
		.collection-all-page h4{    margin: 30px 0 5px;}
		.pro-block{height: auto;}
		.collection-all-page .collection-title {
			padding-bottom: 15px;
			margin-bottom: 15px;
		}
		.collection-all-page .products-grid{        grid-gap: 2rem;}
		.collection-all-page .load-more a{color: #FEDE03;padding: 0.3450vw 1vw;}
	}
		
	@media (max-width:480px) {
		.collection-all-page .products-grid{grid-template-columns: 100%;}
	}