.policy h1{margin: 0;}
.policy{
	background: linear-gradient(180deg, #D02523 0%, #9B2220 67.26%);
}
.top-title{text-align: center;padding-bottom: 134px;}
.top-title h1{color: #fff;}
.privacy-policy-content .privacy-box{border-top: 1px solid #fff;border-bottom: 1px solid #fff;padding: 57px 0;}
.privacy-policy-content .privacy-box h3{font-size: 25px;line-height: 29px;font-family: 'Block Berthold';color: #fff;margin-bottom: 25px;}
.privacy-policy-content .privacy-box p{font-size: 18px;line-height: 21px;color: #fff;font-family: 'Gotham-Book';}
.privacy-policy-content .privacy-box:nth-child(1) p{margin-bottom: 0;}
.privacy-policy-content h4{font-size: 20px;color: #fff;line-height: 24px;font-family: 'Gotham-Book';margin-bottom: 20px;}
.privacy-policy-content ul{padding-left: 20px;}
.privacy-policy-content ul li{font-size: 18px;line-height: 20px;color: #fff;font-family: 'Gotham-Book';padding-bottom: 7px;}
.privacy-policy-content .tabContent .tab-box{display: flex;}
.privacy-policy-content .tabContent.hide{display: none;}
.privacy-policy-content .tabContent.show{display: block;}
.privacy-policy-content .akz-wrap {display: flex;margin-bottom: 87px;}
.privacy-policy-content .akz-wrap ul{width: 408px;}
.privacy-policy-content address{font-size: 18px;line-height: 21px;font-family: 'Gotham-Book';color: #fff;}
.privacy-policy-content .privacy-box:nth-child(3) h4{margin:50px 0 43px;}
.privacy-policy-content .privacy-box:nth-child(4) h4{margin: 98px 0 41px;}
.privacy-inner-box {display: flex;}
.privacy-inner-box .p-child-box{width: 408px;}
.privacy-box .c-right-wrap{display: flex;width: 50%;margin-bottom: 35px;}
.privacy-box .c-right-wrap .right-inner{display: flex;align-items: center;width: 50%;}
.privacy-box .c-right-wrap .right-inner .r-content{padding-left: 30px;}
.privacy-box  .c-right-wrap .right-inner .r-content p{font-size: 20px;line-height: 23px;color: #fff;font-family: 'Block Berthold';}
.p-block p{font-size: 15px;line-height: 18px;font-family: 'Gotham-Book';color: #fff;max-width: 656px;}
.privacy-box  .inner-tab {border-radius: 10px;max-width:472px;display: flex;background: linear-gradient(0deg, #FFFFFF, #FFFFFF),radial-gradient(63.11% 63.11% at 31.97% 19.67%, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);box-shadow: 4px 5px 15px 0px #00000040;margin-bottom: 76px;}
.privacy-box  .inner-tab .tab{font-size: 20px;line-height: 24px;color: #1E1E1E;border-radius: 10px;width:50%;padding: 9px 20px;text-align: center;}
.privacy-box  .inner-tab .tab.whiteborder{background: linear-gradient(0deg, #FEDE03, #FEDE03),
radial-gradient(63.11% 63.11% at 31.97% 19.67%, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}



@media (max-width:767px) {
	.top-title{padding-bottom: 35px;}
	.privacy-policy-content .privacy-box{padding: 35px 0;}
	.privacy-box .inner-tab{margin-bottom: 45px;}
	.privacy-policy-content .tabContent .tab-box,.privacy-inner-box{flex-direction: column;}
	.privacy-policy-content .akz-wrap{margin-bottom: 35px;}
	.privacy-policy-content .privacy-box:nth-child(4) h4 {margin: 30px 0 30px;}
	.privacy-box .c-right-wrap .right-inner{width: 100%;}
	.privacy-box .c-right-wrap{width: 100%;flex-direction: column;}
	.privacy-box .c-right-wrap .right-inner .l-logo{width: 136px;text-align: center;}
	.privacy-box .c-right-wrap .right-inner .r-content p br{display: none;}
	.privacy-policy-content .privacy-box h3{font-size: 20px;line-height: 25px;}
	.privacy-policy-content .privacy-box p,.privacy-box .inner-tab .tab,.privacy-policy-content ul li,.privacy-policy-content address{font-size: 16px;line-height: 20px;}
	.privacy-policy-content h4{font-size: 18px;}
	.privacy-inner-box .p-child-box,.privacy-policy-content .akz-wrap ul{width: auto;}
	.privacy-policy-content .akz-wrap{flex-direction: column;}
	.privacy-box .inner-tab .tab{padding: 9px 15px;}
	.shop-popup{width: 90%;}
}